<div class="jumbotron">
  <h1>National Superhero Registry</h1>
  <h2><em>Welcome, Agent!</h2>
  <p>You now have access to NSR, where you have the power to register superheros.</em></p>
  <p><a><%= link_to "Register a superhero", new_superhero_path, :class => 'btn btn-large btn-primary' %></a></p>
</div>



  